body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 background-color: #2b3e50;
    
}

.container {
    background-color: #34495e;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    color: #ecf0f1;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #7f8c8d;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1abc9c;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #16a085;
}

h4,a {
    color: #1abc9c;
    text-align: center;
    display: block;
    margin-top: 10px;
}

